@media (max-width: 1168px) {
    .right-side{
        display: none;
    }
}
@media (max-width: 1024px) {
    .img-s-1 > h1 {
        font-size: 50px;
    }
    .img-s-1 > h4 {
        font-size: 12px;
    }
}
@media (max-width: 840px) {
    .section-text{
        width: 300px;
    }
    .box-image{
        width: 200px;
        height: 155px;
    }
}


@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .burger-bar {
        display: block;
    }

    .img-s-1 > h1 {
        font-size: 40px;
    }
    .img-s-1 > h4 {
        font-size: 10px;
    }
    .s-2-wrapper {
      flex-direction: column;
      align-items: center; 

    }
    .top-card, .middle-card, .bottom-card{
        max-width: 768px;
	    width: 100%;
	    margin: 0 auto;
	    padding: 30px 0;
    }

}
@media (max-width: 580px){
    .section-text{
        width: 100px;
    }
    .box-image{
        width: 100px;
        height: 55px;
    }


}
@media (max-width: 480px) {
    .img-s-1 > h1 {
        font-size: 25px;
    }
    .img-s-1 > h4 {
        font-size: 8px;
    }
    .section-text{
        width: 300px;
    }
    .box-image{
        width: 150px;
        height: 115px;
        margin: 0px;
    }
    .left-side{
        width: 300px;
        margin: 0px;
    }
    .both{
        margin: 0px;
    }

}
@media (max-width: 450px){
    .section-text{
        width: 200px;
    }
    .left-side{
        width: 200px;
    }
}
@media (max-width: 350px){
    .all-title{
        width: 150px;
    }
    .section-text{
        width: 150px;
    }
}
@media (max-width: 334px){
    .all-title{
        width: 145px;
    }
    .box-image{
        width: 145px;
    }
}
@media (max-width: 300px){
    .all-title{
        width: 100px;
    }
    .box-1-title{
        width:100px;
        font-size: 25px;
    }
    .section-text{
        width: 100px;
    }
    .first{
        display: flex;
        flex-wrap: wrap;
        width: 141px;
        height: 220px;
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 100px;
        display: inline-block;
        vertical-align: middle;
    }
}
@media (max-width:250px){
    .all-title{
        width: 50px;
        display: none;
    }
    .box-image{
        width:200px;
        height: 100px;
    }
    .box-1-title{
        width:50px;
        font-size: 16px;
    }
    .section-text{
        width: 50px;
    }
    .key{
        font-size: 4px;
    }
    .images{
        margin-left: 0px;
    }
}

@media (max-width: 1060px){
    .first:first-child{
        margin-left: 20px ;
    }
}

/*responsive-footer*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }