html{
    scroll-behavior: smooth;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	
}
/*header*/


.header-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 100px;

}

.burger-bar {
    display: none;
}

.nav-ul{
	display: flex;
    font-family: 'Rowdies', cursive;
    text-decoration: none;
    color: #000000;

}
.nav-ul > li {
	color: #303134;
	font-size: 16px;
	font-family: 'Rowdies', cursive;
}
.nav-ul > li:not(:last-child) {
    margin-right: 20px;
}

/*section 1*/

.img-s-1{
	background-color: lightblue;
	background-image: url(../images/cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.h1-s-1{
	font-size: 79px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	font-family: "Raleway", sans-serif;
	margin-bottom: 45px;
}

.h4-s-1{
	font-size: 18px;
	color: rgb(0, 0, 0);
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	display: block;
}

/* section 2*/

.s-2-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding: 30px 100px;

}
.div-left{
	padding-bottom: 30px;

}
.div-right{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.card{
	width: 150px;
	height: 75px;
	margin-right: 40px;
}

.h5-s-2{
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #8D8D8D;
	margin-bottom: 20px;
	display: inline-block;
}

.h3-s-2{
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	color: #1A1A1B;
	font-weight: bold;
	margin-bottom: 40px;

}
.p-s-2{
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #8D8D8D;
}


.h4-s-2{
	font-family: "Raleway", sans-serif;
	color: black;
	font-weight: bold;
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 15px;
}
/*section-3*/
.s-2-d{
    margin-top: 300px;
}
.first:first-child{
    margin-left: 120px ;
}
.first {
    display: flex;
    flex-wrap: wrap;
    width: 272px;
	height: 450px;
	margin-top: 40px;
	margin-left: 60px;
	margin-bottom: 100px;
	display: inline-block;
	vertical-align: middle;
	

}
/*section-4*/
.s-7 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.s-7 > h2 {
  font-size: 35px;
  color: #292f39;
  margin-bottom: 25px;
  text-align: center;
}

.s-7 .line {
  border-bottom: 2px #5eb6e1 solid;
  width: 90px;
  margin: 0 auto;
  display: block;
  margin-bottom: 60px;
}

.s-7 .cards-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

.s-7 .cards-2 .card-2 {
  width: 300px;
  background-color: #13191a;
  padding: 20px;
}

.s-7 .cards-2 .card-2 > img {
  width: 100%;
  margin-bottom: 25px;
}

.s-7 .cards-2 .card-2 > h4 {
  color: #5eb6e1;
  font-size: 17px;
  margin-bottom: 20px;
}

.s-7 .cards-2 .card-2 > p {
  font-size: 12px;
  color: #bbbbbb;
  margin-bottom: 15px;
}

.s-7 .cards-2 .card-2 > a {
  font-size: 10px;
  color: #bbbbbb;
  margin-right: 20px;
}

.s-7 .cards-2 .card-2 > a > i {
  color: #5eb6e1;
}

.s-7 > button {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 13px;
  color: #000000;
  background-color: #5eb6e1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.s-7 > button:hover {
  background-color: aqua;
  -webkit-box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
          box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
}
/*section-5*/
.both {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.box-title {
    font-family: 'Rowdies', cursive;
    font-size: 60px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 50px;
}

    .top-card, .middle-card, .bottom-card {
    display: flex;
    margin-bottom: 55px;
}
.box-image {
    width: 300px;
    margin-right: 30px;
}
.all-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;

}
.key {
    font-family: 'Rowdies', cursive;
    font-size: 17px;
    color: #E4003B;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 400;
}
.box-1-title {
    font-family: 'Rowdies', cursive;
    font-size: 36px;
    color: #000000;
    font-weight: 300;
    margin-bottom: 10px;
}
.section-text {
    font-family: 'Rowdies', cursive;
    font-size: 14px;
    color: #000000;
    width: 400px;
    line-height: 20px;
    margin-bottom: 20px;
}
.link-More {
    font-family: 'Rowdies', cursive;
    font-size: 17px;
    color: #000000;
    font-weight: 300;
    text-transform: uppercase;

}

.all-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.left-side{
    margin:auto;
}
.right-side{
    margin-left: 30px;
}
.right-2{
    margin-top: 200px;
    margin-left: 10px;
}
.right-side-title {
    font-family: 'Rowdies', cursive;
    font-size: 60px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 25px;
}
.right-side-title-2 {
    font-family: 'Rowdies', cursive;
    font-size: 36px;
    color: #000000;
    font-weight: 300;
    width: 400px;
    margin-bottom: 25px;
}
/*section-6*/
.images{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.images-2:last-child{
    margin-left: 30px;
}
.images-2{
    margin: 10px;
}
/*footer*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container-2{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}










